
<div class="container mt-5">

  <div class="row">

    <div class="col-7">
      <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
        <h2>Réservation</h2>
        <%= simple_form_for :search, method: "get" do |f| %>
          <%= f.input :Ville, collection: ['Tokyo', 'Kyoto', 'Osaka', 'Nara'] %>
          <%= f.input :nombre_de_personne, collection: 1..5 %>
        <p>Periode</p>
          <%= f.input :DU, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :AU, as: :string, required: false, input_html: {class: "datepicker"} %>
        <p>Jour</p>
          <%= f.input :LE, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Go", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="col-5">
      <div class="card justify-content-between align-items-center">
        <div class="title">
            <p>Récapitulatif de votre Réservation</p>
        </div>
      </div>
    </div>
  </div>

</div>
